.div-out{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 50px;
}

.div-in{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.div-in:hover{
    background-color: #ffffff;
}

.div-Info{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.cardInfo{
    margin: 0;
    padding: 10px 25px;
}


@media screen and (max-width:360px) {
    .cardInfo{
        padding: 10px 5px;
    }

    h2{
        font-size: 24px;
    }

    i{
        display: none;
    }
}