h1{
    text-align: center;
}

.contactanos{
    display: flex;
    flex-direction: column;
    margin: 20px 30%;
    justify-content: center;
}

.form-control{
    padding: 20px 0px;
    text-align: center;
}

.casilla{
    margin: 10px 0;
}

input, textarea{
    background-color: white;
}

.btn{
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 30px 0;
    color: white;
    background-color: #00877d;
    border-style: none;
}

.btn:hover{
    background-color:#18b4ab ;
    border-style: none;
}

@media screen and (max-width:360px) {
    .contactanos{
        display: flex;
        flex-direction: column;
        margin: 20px 15%;
        justify-content: center;
    }
    
}