<!-- Seleccion Fecha -->
<div id="tableSelect" class="">
    <label id="label"><b><i>Selecciona : </i></b></label>

    <select id="months" class="p-2" [(ngModel)]="monthSelect">
        <option value="0">Mes</option>
        <option *ngFor="let month of monthList">{{month}}</option>
    </select>

    <select id="years" class="p-2" [(ngModel)]="yearSelect">
        <option value="0">Año</option>
        <option *ngFor="let year of yearList">
            {{year}}
        </option>
    </select>

    <button id="loadButton" class="btn btn-primary m-2" id="boton"
            (click)="getDolares()">
            Cargar Datos
    </button>
</div>


<!-- Spinner -->
<shared-spinner 
    *ngIf="mostrarSpinner"
    [ngStyle]="{'display':listaDolar == 0 ? 'block' : 'none'}">
</shared-spinner>

<!-- Carga de datos -->
<div class="div-out"
     [ngStyle]="{'display': listaDolar == 0 ? 'none' : 'block'}">

    <div class="div-in" *ngFor="let dolar of listaDolar">
        <p class="card-title"><i>Fecha : </i><b>{{dolar.Fecha | date: 'dd/MM/yyyy'}}</b></p>
        <h3 class="card-title">{{dolar.Valor}} US</h3>
    </div>
</div>

<!-- <component-table 
    [moneda]="moneda"
    [coinType]="coinType"
    [code]="code">
</component-table> -->
