.div-out{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-in{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.card-title{
    padding: 20px 40px;
}

#tableSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(131, 197, 240, 0.2);
    padding: 10px;
}

#label, #moths, #years{
    margin: 10px;
}