<div id="tableSelect" class="">
    <label id="label"><b><i>Selecciona : </i></b></label>

    <select id="months" class="p-2" [(ngModel)]="monthSelect">
        <option value="0">Mes</option>
        <option *ngFor="let month of monthList">{{month}}</option>
    </select>

    <select id="years" class="p-2" [(ngModel)]="yearSelect">
        <option value="0">Año</option>
        <option *ngFor="let year of yearList">
            {{year}}
        </option>
    </select>

    <button id="loadButton" class="btn btn-primary m-2" id="boton"
            (click)="getSelect()">
            Cargar Datos
    </button>
</div>