.inputSelector{
    margin: 0 15% 30px 15%;
}

.input-group-text{
    cursor: pointer;
}

.icon{
    width: 40px;
}

.form-control{
    padding: 20px 0px;
    text-align: center;
}

#cardsHome{
    display: flex;
    margin: 0 10% 50px 10%;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    margin: 20px 20px;
    border-style: none;
}

.card-img-top{
    background-size: cover;
    object-fit: cover;
    height: 200px;

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text{
    font-size: 14px;
}

.btn{
    background-color: #008E75;
    border-style: none;
}

.btn:hover{
    background-color: #00C1DB;
    border-style: none;
}

@media screen and (max-width: 360px){
    .centerSearch{
        margin: 0px 0 20px 0;
    }
    .inputSelector{
        margin: 0 15% 30px 15%;
    }
}