 <ul class="navBar">
        <li class="nav-item">
            <button class="nav-link"
                aria-current="page"
                routerLink="valores/dolar"
                routerLinkActive="active"
                href="#">Dolar
            </button>
        </li>
    
        <li class="nav-item">
            <button class="nav-link"
                routerLink="valores/euro"
                routerLinkActive="active"
                href="#">Euro
            </button>
        </li>
    
        <li class="nav-item">
            <button class="nav-link"
                routerLink="valores/uf"
                routerLinkActive="active"
                href="#">UF
            </button>
        </li>
    
        <li class="nav-item">
            <button class="nav-link"
                routerLink="valores/utm"
                routerLinkActive="active"
                href="#">UTM
            </button>
        </li>
    
        <li class="nav-item">
            <button class="nav-link"
                routerLink="valores/ipc"
                routerLinkActive="active"
                href="#">IPC
            </button>
        </li>
    </ul>