.contenedor-nav{
    background-color: rgba(255, 255, 255, .2);
}

.elementos-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    margin: 0 10%;
}

.menu-dropdown{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.menu-titulo{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
}

h3{
    font-size: 1.25rem;  
    margin-left: 10px;
}

.logo{
    height: 40px;
}
