.contenedorTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.botonesView{
    display: flex;
    align-items: center;
}

.btn{
    border-radius: 100px;
    border-color: none;
    color: white;
    background-color: #00877d;
    margin: 0 5px;
}

.btn:hover{
    color: white;
    background-color: #18b4ab;
}

.btn:focus{
    color: white;
    background-color: #18b4ab;
}


#contenedorGrafico{
    padding: 50px 0;
}

.graficoContainer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 98% !important;
}

p{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0px;
    margin-right: 20px;
}


@media screen and (max-width: 360px){

    .contenedorTitulo{
        flex-direction: column;
        margin: 0;
    }

    .botonesView{
        margin-top: 20px;
    }

    #contenedorGrafico{
        margin-top: 20px;
        height: 280px;
    }
}