*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#9ededb, #004b84, #000c1c);
    background-attachment:fixed;
    height: 100vh;
}

.dark-text{
    color: #00283c;
}

.ligth-text{
    color: white;
}

.alternative-text{
    color:#00877d;
}

.fondo{
    background-color: rgb(239, 239, 239);
}

.swal2-confirm, .swal2-styled{
    background-color: #00877d !important;
}